<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>WAMP</title>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap' rel='stylesheet'>
    <style>
      html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: 'Ubuntu Mono', monospace;
      }

      .container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      h1 {
        margin: 0;
        padding: 0
      }
    </style>
  </head>
  <body>
    <div class='container'>
      <h1>WAMP</h1>
    </div>
  </body>
</html>