@import "~bootstrap/scss/bootstrap";

body {
  div#toast-container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    z-index: 10;

    .toast {
      border: 3px solid lightgray;
      border-radius: 5px;

      .toast-header{
        background: lightgray;
        color:black;
        font-size: 1.3em;
      }
    }
  }

  div.showgame-container {
    header {
      margin-top: 5%;
    }

    main {
      .games {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 80px;

        .joinable-game {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-content: center;
          border: 1px solid lightgrey;
          border-radius: 5px;
          padding: 5% 1%;
          width: 90%;
          margin: 15px 0;

          .body {
            width: 80%;
            display: flex;
            flex-direction: row;
            align-content: center;

            div {
              height: 100%;
              margin-right: 5px;
              display: flex;
              justify-content: center;
              flex-direction: column;
            }

            .playerid {
              font-size: 0.7em;
              font-weight: lighter;
              color:grey;
              width: 30%;
            }
            .playername {
              font-size: 2em;
              font-weight: bolder;
            }
          }
          .join {
            display:flex;
            flex-direction: column;
            justify-content: center;
          }
        }
      }
    }
  }

  div.creategame-container {
    .player-1 {
      color: red;
    }
    .player-2 {
      color: blue;
    }

    main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 10px;

      .board {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 5px;

        width: 70vw;
        min-height: 70vh;

        background: lightgrey;

        .board-btn {
          width: 100%;
          height: 100%;
          background: white;
          border: none;
          font-size: 5rem;
        }

        .O {
          color: blue;
        }
        .X {
          color: red;
        }
        .EMPTY {
          color: grey;
        }
      }

      .board.O-turn {
        border: 3px solid blue;
      }
      .board.X-turn {
        border: 3px solid red;
      }
    }
    .info-player {
      text-align: center;
      margin-top: 10px;
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      font-size: 2.25rem;
      p {
        width: 100%;
      }

      .info-player-icon.O {
        color: blue;
      }
      .info-player-icon.X {
        color: red;
      }
    }
  }
}
